<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1 id="tipoUsuario"></h1>
        </div>

        <div class="dropdown">
            <button class="bi bi-person-circle" type="button" id="meuPerfil" data-bs-toggle="dropdown"> Olá,
                Usuario</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="efetuarLogout()">Sair</a>
            </div>
        </div>

    </div>
</header>

<script>
  if (usuarioLogado.tipo === "EMPRESARIO") {
    tipoUsuario.innerHTML = '<a href="/front/pages/ambienteEmpresario.html">Espaço Empresário</a>';
  } else {
    tipoUsuario.innerHTML = '<a href="/front/pages/ambienteCandidato.html">Espaço Candidato</a>';
  }

  meuPerfil.innerHTML = "Olá, " + usuarioLogado.name;
</script>
